header {
  height: 7%;

  border-bottom: 1px solid lightgrey;

  display: flex;
  align-items: center;
  justify-content: left;

  div {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
  }

  font-family: "Rubik", sans-serif;
}

#header-logo {
  width: 10%;
  justify-content: center;

  img {
    width: 70%;
    height: 90%;
  }
}

#header-content {
  width: 90%;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;

  padding-left: 30px;
}
