$content-subpart-width: 85%;

#content {
  height: 93%;
  display: grid;
  grid-template-rows: 18% 8% auto;
  justify-items: center;
}

input {
  text-align: left;
}

.content-part {
  display:flex;
  justify-content: center;
  width: 100%;
  //border: 3px solid blue;

  > div {
    //border: 3px solid red;
  }
}

.content-part-collection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-subpart {
  display: flex;
  width: $content-subpart-width;
  box-sizing: border-box;
  border-bottom: 1px solid black;

  div {
    //border: 3px solid red;
  }
}

.content-collection-reset {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 6px;
  padding-left: 10px;

  button {
    text-decoration-line: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
    background: white;
  }

  button:hover {
    color:white;
    background: black;
  }
}

.content-subpart-title {
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;
    align-items: flex-end;
  }
}

.content-title {
  //border-bottom: 1px solid lightgrey;
}

.content-subpart-title-text {
  justify-content: start;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.content-subpart-title-buttons {
  justify-content: flex-end;

  .button-menu {
    //margin-left: 40px;
    color: black;
    width: 100px;
    height: 80px;
    transition: all 0.3s ease-out !important;

    ::ng-deep .p-button-icon {
      font-size: 30px;
    }
  }

  .button-menu-selected {
    ::ng-deep .p-button-icon {
      font-weight: 600;
    }
  }

  .button-split {
    ::ng-deep {
      .p-splitbutton {
        height: 80px;
        width: 400px;

        button {
          background: transparent;
          color: black;
          border: 0;
          font-family: 'Montserrat', sans-serif;
          font-size: 38px;
        }
      }

      .p-menu {
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
      }
    }

  }

  .button-split:hover {
    ::ng-deep .p-splitbutton {
      .p-splitbutton-defaultbutton {
        background: #ebebeb;
      }

      .p-splitbutton-menubutton {
        background: #e1e1e1
      }
    }
  }
}

.input-search-id {
  margin-left: 24px;

  ::ng-deep .p-inputtext {
    width: 200px;
    height: 38px;
    border: 1px solid black;

  }
}

.button-sort {
  width: 100%;
  height: 50px;
  color: black;
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left !important;
  margin-bottom: 20px;
}

.button-sort:hover {
  background: white !important;
  color: black !important;
  box-shadow: 1px 1px 10px 0 black;
  //font-weight: 600 !important;
}

.button-sort-selected {
  text-decoration-line: underline;
  font-weight: 600;
}

p-dialog {
  display: flex;
  flex-direction: column;

  ::ng-deep .p-dropdown {
    margin-top: 20px;
    width: 300px;
  }

  ::ng-deep .p-dropdown-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }


}

.dialog-input-div {
  display: flex;
  flex-direction: column;
  justify-items: flex-start !important;
  align-items: flex-start !important;
  width: 100%;
  //border: 2px solid red;
  margin: 18px 0;

  * {
    //border: 2px solid green;
  }
}

.dialog-text-input {
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
}

.dialog-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

::ng-deep .p-menuitem-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.button-menu:hover {
  background: #ebebeb !important;
}

.text-count {
  font-size: 26px;
  padding-left: 12px;
  margin-bottom: 3px;
}

.content-filter {
  justify-content: center;
  width: 100%;
}

.content-filter-buttons {
  //padding-left: 15px;
  justify-content: center;
  box-sizing: border-box;
}

.overlay-button {
  background: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 26px;
  color: black;
  width: auto;
  border: 2px solid transparent;
}

.overlay-button:hover {
  border: 2px solid black;
  color: black;
  background: none;
}

.overlay-button-filtered {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.op-content {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

::ng-deep .p-overlaypanel-content{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.op-sort {


  ::ng-deep .p-overlaypanel-content {
    width: 200px !important;
  }
}

.op-content-sort {
}

.op-content-row {
  align-items: center;
  flex-direction: row;

  p {
    padding: 0 12px;
  }
}

::ng-deep .p-inputnumber-input {
  text-align: left;
  width: 100px;
}

p-checkbox {
  margin: 8px 0;
}

::ng-deep .p-checkbox-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px !important;
  margin-left: 6px;
}

::ng-deep .p-multiselect {
  width: 240px;
}

::ng-deep .p-multiselect-filter {
  text-align: left !important;
}

.op-content-discipline {
  ::ng-deep .p-dropdown {
    width: 240px;
  }
}

.op-content-row-creation-date {
  ::ng-deep .p-calendar {
    width: 300px !important;
  }
}

.overlay-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
  color: black;
  font-style: italic;
}

#username-help {
  margin-top: 7px;
  text-align: left;
}

.content-collection-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //box-shadow: inset 0px 0px 140px 20px #e1e1e1;
}

.labwork-content {
  margin: 0 0;
  background: white;
  //border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 180px;
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    //border: 2px solid green;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}

.labwork-content-id {
  width: 15%;
  height: 80%;
  border-right: 3px solid grey;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 114px;
    font-weight: 400;
    font-style: italic;
  }
}

.labwork-content-data {
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1.4fr;
  grid-template-columns: 5fr 2fr 2fr;

  div {
    //border: 2px solid blue;
  }
}

.lw-data-item1 {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 90%;
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid darkgrey;
    font-weight: 600;
    font-size: 46px;
    font-style: italic;
    padding-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.lw-data-item2 {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  div {
    width: 90%;
  }

  p {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;

    font-size: 24px;
    color: grey;
  }
}

.lw-data-item3 {
  grid-row: 1/3;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lw-data-item3-coordinates {
  display: flex;
  flex-direction: column;

  .lw-data-item3-coordinates-title {
    font-weight: 500;
    font-size: 96px;
    font-style: italic;
  }

  .lw-data-item3-coordinates-value {
    font-size: 36px;
  }
}

.lw-data-item4 {
  grid-row: 1/3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item-buttons {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      width: 40%;
      height: 80%;
      margin: 8px 14px;
    }

    button:hover {
      background: transparent;
      ::ng-deep .p-button-icon {
        color: cyan;
      }
    }

    ::ng-deep .p-button-icon {
      color: black;
      font-size: 48px;
      transition: 0.5s;
    }

  }

  p {
    padding: 6px 6px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    font-size: 28px;
    color: darkgrey;
    font-style: italic;
  }
}

::ng-deep .p-confirm-dialog-message {
  font-size: 20px;
}
