$content-subpart-width: 85%;

#content {
  height: 93%;
  display: grid;
  grid-template-rows: 15% 8% auto;
  justify-items: center;
}

input {
  text-align: left;
}

.content-part {
  display:flex;
  justify-content: center;
  width: 100%;
  //border: 3px solid blue;
}

.content-subpart {
  display: flex;
  width: $content-subpart-width;
  box-sizing: border-box;
  //border: 3px solid red;
  border-bottom: 1px solid lightgrey;

}

.content-title {
  //border-bottom: 1px solid lightgrey;
}

.content-title-text {
  display: flex;
  justify-content: start;
  align-items: end;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.text-count {
  font-size: 26px;
  padding-left: 12px;
  margin-bottom: 3px;
}

.content-filter {
  justify-content: center;
  width: 100%;
}

.content-filter-buttons {
  //padding-left: 15px;
  box-sizing: border-box;
}

.overlay-button {
  background: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 26px;
  color: black;
  width: auto;
  border: 1px solid transparent;
}

.overlay-button:hover {
  border: 1px solid black;
  color: black;
  background: none;
}

.overlay-button-filtered {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.op-content {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.op-content-row {
  align-items: center;
  flex-direction: row;

  p {
    padding: 0 12px;
  }
}

::ng-deep .p-inputnumber-input {
  text-align: left;
  width: 100px;
}

p-checkbox {
  margin: 8px 0;
}

::ng-deep .p-checkbox-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px !important;
  margin-left: 6px;
}

::ng-deep .p-multiselect {
  width: 240px;
}

::ng-deep .p-multiselect-filter {
  text-align: left !important;
}

.op-content-discipline {
  ::ng-deep .p-inputnumber-input {
    width: 240px;
  }
}

.op-content-row-creation-date {
  ::ng-deep .p-calendar {
    width: 300px !important;
  }
}

.overlay-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
  color: black;
  font-style: italic;
}

#username-help {
  margin-top: 7px;
  text-align: left;
}


