<div id="content">

  <div class="content-part content-title">
    <div class="content-subpart content-subpart-title">
      <div class="content-subpart-title-text">
        Лабораторные работы <p class="text-count" >[{{allLabWorks? allLabWorks.length : '0'}}]</p>

        <!--        Search by id-->
        <p-inputNumber class="input-search-id" [min]="0" (keydown.enter)="findLabWorkById(idLab);" placeholder="Введите ID" [(ngModel)]="idLab" mode="decimal" [useGrouping]="false">
        </p-inputNumber>
      </div>
      <div class="content-subpart-title-buttons">

        <!--        Sort options-->
        <p-overlayPanel class="op-sort" #opSort>
          <div class="op-content op-content-sort">
            <button [ngClass]="{'button-sort-selected' : (sortParam=='name' )}" (click)="sortParam='name'; filterList()" pButton pRipple type="button"
                    label="По имени" class="p-button-text button-sort"></button>

            <button [ngClass]="{'button-sort-selected' : (sortParam=='coordinates_x' )}" (click)="sortParam='coordinates_x'; filterList()" pButton pRipple type="button"
                    label="По координате X" class="p-button-text button-sort"></button>

            <button [ngClass]="{'button-sort-selected' : (sortParam=='coordinates_y' )}" (click)="sortParam='coordinates_y'; filterList()" pButton pRipple type="button"
                    label="По координате Y" class="p-button-text button-sort"></button>

            <button [ngClass]="{'button-sort-selected' : (sortParam=='minimalPoint' )}" (click)="sortParam='minimalPoint'; filterList()" pButton pRipple type="button"
                    label="По мин. оценке" class="p-button-text button-sort"></button>

            <button [ngClass]="{'button-sort-selected' : (sortParam=='difficulty' )}" (click)="sortParam='difficulty'; filterList()" pButton pRipple type="button"
                    label="По сложности" class="p-button-text button-sort"></button>

            <button [ngClass]="{'button-sort-selected' : (sortParam=='discipline_name' )}" (click)="sortParam='discipline_name'; filterList()" pButton pRipple type="button"
                    label="По дисциплине" class="p-button-text button-sort"></button>
          </div>
        </p-overlayPanel>
        <button (click)="opSort.toggle($event)" [ngClass]="{'button-menu-selected' : (sortParam != null )}" pButton pRipple type="button"
                icon="pi pi-ellipsis-v" class=" p-button-text button-menu"></button>
        <!--  Dialogs for extra actions-->
        <p-splitButton (onClick)="showModalDialog1()" label="Удалить объект" [model]="splitButtonItems" class="button-split"></p-splitButton>

        <p-dialog header="Удалить случайный объект заданной сложности" [dismissableMask]="true" [(visible)]="displayModal1" [modal]="true"
                  [style]="{width: '40vw', top: '-180px'}" [draggable]="false" [resizable]="false">
          <p class="dialog-text">
            Выберите сложность, и нажмите кнопку, чтобы удалить случайный объект заданной сложности
          </p>
          <p-dropdown [options]="optionDifficulties" [(ngModel)]="selectedDifficultyExtra" placeholder="Выберите сложность" optionLabel="name"></p-dropdown>
          <ng-template pTemplate="footer">
            <p-button icon="pi pi-trash" (onClick)="deleteRandom(); refresh()" label="Удалить" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>

        <p-dialog header="Вернуть количество объектов при заданной сложности" [dismissableMask]="true" [(visible)]="displayModal2" [modal]="true"
                  [style]="{width: '40vw', top: '-180px'}" [draggable]="false" [resizable]="false">
          <p class="dialog-text">
            Выберите сложность и нажмите кнопку, чтобы посмотреть количество объектов, сложность которых выше заданной
          </p>
          <p-dropdown [options]="optionDifficulties" [(ngModel)]="selectedDifficultyExtra" placeholder="Выберите сложность" optionLabel="name"></p-dropdown>
          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (onClick)="getCountDifficulty(); displayModal2=false" label="Отправить" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>

        <p-dialog header="Понизить сложность заданной лабораторной работы на указанное число шагов"
                  [dismissableMask]="true" [(visible)]="displayModal3" [modal]="true"
                  [style]="{width: '40vw', top: '-180px'}" [draggable]="false" [resizable]="false">
          <p class="dialog-text">
            Выберите лабораторную работу и укажите число шагов для понижения сложности
          </p>
          <p-dropdown [style]="{margin: '25px'}" [options]="allLabWorks" [(ngModel)]="selectedLabWorkDecrease" placeholder="Выберите работу" optionLabel="id"></p-dropdown>
          <div>
            <br>
            <span style="margin-right: 10px;" *ngIf="selectedLabWorkDecrease != null">ID: {{selectedLabWorkDecrease? selectedLabWorkDecrease.id : ''}}</span>
            <span *ngIf="selectedLabWorkDecrease != null">Сложность: {{selectedLabWorkDecrease? selectedLabWorkDecrease.difficulty : ''}}</span>
          </div>
          <span>Число шагов: </span>
          <p-inputNumber [(ngModel)]="stepCount" mode="decimal"></p-inputNumber>
          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" [disabled]="(stepCount == null) || (selectedLabWorkDecrease == null)"
                      (onClick)="decreaseDifficulty(); displayModal3=false" label="Отправить" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>

        <p-dialog header="Удалить лабораторную работу из программы дисциплины" [dismissableMask]="true" [(visible)]="displayModal4" [modal]="true"
                  [style]="{width: '40vw', top: '-180px'}" [draggable]="false" [resizable]="false">
          <p class="dialog-text">
            Выберите дисциплину и лабораторную работу из ее программы, чтобы удалить ее
          </p>
          <p-dropdown [options]="allDisciplines" [(ngModel)]="selectedDiscipline" placeholder="Выберите дисциплину" optionLabel="name"></p-dropdown>
          <br>
          <p-dropdown [options]="allLabWorks" [(ngModel)]="selectedLabWorkRemove" placeholder="Выберите лаб. работу" optionLabel="id"></p-dropdown>
          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" [disabled]="(selectedLabWorkRemove == null) || (selectedDiscipline == null)"
                      (onClick)="deleteFromDiscipline(); displayModal4=false" label="Отправить" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>

        <!--Create dialog-->
        <p-dialog header="Добавить лабораторную работу" [dismissableMask]="true" [(visible)]="displayModalCreate" [modal]="true"
                  [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
          <p class="dialog-text">
            Заполните поля и нажмите кнопку добавить
          </p>
          <form [formGroup]="formCreate" novalidate (ngSubmit)="createLabWork()">
            <div class="dialog-input-div">
              <p class="dialog-text dialog-text-input">
                Имя
              </p>
              <input type="text" pInputText formControlName="labName"/>
            </div>
            <div class="dialog-input-div">
              <p class="dialog-text dialog-text-input">
                Координаты
              </p>
              <div>
                <p-inputNumber formControlName="labX" mode="decimal"></p-inputNumber>
                <p-inputNumber [ngStyle]="{'margin-left': '10px'}" formControlName="labY" mode="decimal"></p-inputNumber>
              </div>
            </div>
            <div class="dialog-input-div">
              <p class="dialog-text dialog-text-input">
                Минимальная оценка
              </p>
              <p-inputNumber formControlName="labMinimalPoint" mode="decimal"></p-inputNumber>
            </div>
            <div class="dialog-input-div">
              <p class="dialog-text dialog-text-input">
                Сложность
              </p>
              <p-dropdown [options]="optionDifficulties" formControlName="labDifficulty" placeholder="Выберите сложность" optionLabel="name" optionValue="value"></p-dropdown>
            </div>
            <div style="margin-bottom: 50px !important;" class="dialog-input-div">
              <p class="dialog-text dialog-text-input">
                Дисциплина
              </p>
              <p-dropdown [options]="optionDisciplines" formControlName="labDiscipline" placeholder="Выберите дисциплину" optionLabel="name">

              </p-dropdown>
            </div>

            <p-button icon="pi pi-plus" [disabled]="formCreate.invalid" (onClick)="displayModalCreate=false" label="Добавить" type="submit" styleClass="p-button-text"></p-button>
          </form>
        </p-dialog>

        <button (click)="showModalDialogCreate()" pButton pRipple type="button" icon="pi pi-plus" class=" p-button-text button-menu"></button>

      </div>
    </div>
  </div>

  <div class="content-part content-filter">
    <div class="content-subpart content-filter-buttons">

<!--      Filter name-->
      <p-overlayPanel #opName (onHide)="filterList()">
        <div class="op-content">
          <input type="text" pInputText [(ngModel)]="nameFilter"/>
          <small id="username-help">Введите шаблон имени</small>
        </div>
      </p-overlayPanel>
      <button [ngClass]="{'overlay-button-filtered' : (nameFilter != '' && nameFilter != null)}" pButton class="overlay-button" label="Имя " icon="pi pi-chevron-down" iconPos="right" (click)="opName.toggle($event)"></button>

<!--      Filter coordinates-->
      <p-overlayPanel #opCoordinates (onHide)="filterList()">
        <div class="op-content">
          <p class="overlay-header">Координата X</p>
          <div class="op-content op-content-row op-content-row-coordinates">
            <p>От</p>
            <p-inputNumber [(ngModel)]="coordinatesXFromFilter" mode="decimal"></p-inputNumber>
            <p>До</p>
            <p-inputNumber [(ngModel)]="coordinatesXUntilFiler" mode="decimal" [min]="coordinatesXFromFilter"></p-inputNumber>
          </div>

          <p class="overlay-header">Координата Y</p>
          <div class="op-content op-content-row op-content-row-coordinates">
            <p>От</p>
            <p-inputNumber [(ngModel)]="coordinatesYFromFilter" mode="decimal" [min]="-895"></p-inputNumber>
            <p>До</p>
            <p-inputNumber [(ngModel)]="coordinatesYUntilFilter" mode="decimal" [min]="coordinatesYFromFilter"></p-inputNumber>
          </div>
        </div>
      </p-overlayPanel>
      <button [ngClass]="{'overlay-button-filtered' : isCoordinatesFiltered()}" pButton class="overlay-button" label="Координаты" icon="pi pi-chevron-down" iconPos="right" (click)="opCoordinates.toggle($event)"></button>

<!--      Filter creation date-->
      <p-overlayPanel #opCreationDate (onHide)="filterList()">
        <div class="op-content">
          <div class="op-content op-content-row op-content-row-creation-date">
            <p-calendar [(ngModel)]="rangeDatesFilter" [showIcon]="true" selectionMode="range" dateFormat="dd-mm-yy">
            </p-calendar>
          </div>
        </div>
      </p-overlayPanel>
      <button [ngClass]="{'overlay-button-filtered' : rangeDatesFilter != null}" pButton class="overlay-button" label="Дата создания" icon="pi pi-chevron-down" iconPos="right" (click)="opCreationDate.toggle($event)"></button>

<!--      Filer minimal point-->
      <p-overlayPanel #opMinimalPoint (onHide)="filterList()">
        <div class="op-content op-content-row op-content-row-coordinates">
          <p>От</p>
          <p-inputNumber [(ngModel)]="minimalPointFromFilter" mode="decimal" [min]="1"></p-inputNumber>
          <p>До</p>
          <p-inputNumber [(ngModel)]="minimalPointUntilFilter" mode="decimal" [min]="minimalPointFromFilter"></p-inputNumber>
        </div>
      </p-overlayPanel>
      <button [ngClass]="{'overlay-button-filtered' : isMinimalPointFiltered()}" pButton class="overlay-button" label="Минимальная оценка" icon="pi pi-chevron-down" iconPos="right" (click)="opMinimalPoint.toggle($event)"></button>

<!--      Filter difficulty-->
      <p-overlayPanel #opDifficulty (onHide)="filterList()">
        <div class="op-content">
          <p-checkbox name="groupname" label="Легко" value="VERY_EASY" [(ngModel)]="selectedDifficultiesFilter"></p-checkbox>
          <p-checkbox name="groupname" label="Нормально" value="NORMAL" [(ngModel)]="selectedDifficultiesFilter"></p-checkbox>
          <p-checkbox name="groupname" label="Невозможно" value="IMPOSSIBLE" [(ngModel)]="selectedDifficultiesFilter"></p-checkbox>
        </div>
      </p-overlayPanel>
      <button [ngClass]="{'overlay-button-filtered' : selectedDifficultiesFilter != null}" pButton class="overlay-button" label="Сложность" icon="pi pi-chevron-down" iconPos="right" (click)="opDifficulty.toggle($event)"></button>

<!--      Filter discipline-->
      <p-overlayPanel #opDiscipline (onHide)="filterList()">
        <div class="op-content op-content-discipline">
          <p-dropdown [options]="optionDisciplines" [(ngModel)]="selectedDisciplinesFilter" placeholder="Выберите дисциплину"
                      optionLabel="name" optionValue="name"></p-dropdown>
        </div>
      </p-overlayPanel>
      <button [ngClass]="{'overlay-button-filtered' : isDisciplineFiltered()}" pButton class="overlay-button" label="Дисциплина" icon="pi pi-chevron-down" iconPos="right" (click)="opDiscipline.toggle($event)"></button>

    </div>
  </div>

  <div class="content-part content-part-collection">
    <div class="content-subpart content-collection-reset">
      <button (click)="resetFilters(); filterList()" pButton pRipple type="button" label="Очистить фильтры" class="p-button-text"></button>
    </div>
    <div class="content-subpart content-collection-list">
      <div class="labwork-content" *ngFor="let lab of labWorkArrayFilter">
        <div class="labwork-content-id">
          <p>
            {{ lab.id }}
          </p>
        </div>
        <div class="labwork-content-data">
          <div class="lw-data-item1">
            <p>
              {{ lab.discipline.name }} - {{ lab.name }}
            </p>
          </div>
          <div class="lw-data-item2">
            <p>
              Минимальная оценка -- {{ lab.minimalPoint }}
            </p>
            <div [ngSwitch]="lab.difficulty">
              <ng-template ngSwitchCase="VERY_EASY"><p>Легко</p></ng-template>
              <ng-template ngSwitchCase="NORMAL"><p>Нормально</p></ng-template>
              <ng-template ngSwitchCase="IMPOSSIBLE"><p>Невозможно</p></ng-template>
              <ng-template ngSwitchDefault><p></p></ng-template>
            </div>
          </div>
          <div class="lw-data-item3">
            <div class="lw-data-item3-coordinates">
              <p class="lw-data-item3-coordinates-title">X</p>
              <p class="lw-data-item3-coordinates-value">{{ lab.coordinates.x }}</p>
            </div>
            <div class="lw-data-item3-coordinates">
              <p class="lw-data-item3-coordinates-title">Y</p>
              <p class="lw-data-item3-coordinates-value">{{ lab.coordinates.y }}</p>
            </div>
          </div>

          <div class="lw-data-item4">
            <p>
              {{lab.creationDate}}
            </p>
            <div class="item-buttons">
              <button (click)="showDynamicDialog(lab);" pButton pRipple type="button" icon="pi pi-pencil" class=" p-button-text"></button>
              <button (click)="confirm(lab.name, lab.id)" pButton pRipple type="button" icon="pi pi-trash" class=" p-button-text"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-paginator #paginator [totalRecords]="allLabWorks? allLabWorks.length : 100" [pageLinkSize]="5" [rowsPerPageOptions]="[5, 10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" acceptLabel='Да' rejectLabel='Нет' [dismissableMask]="true" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-toast position="top-right" [baseZIndex]="20000">
</p-toast>
